# Node.js dependencies
node_modules/

# Build directories
dist/
build/

# Dependency lock files
package-lock.json
yarn.lock
.pnpm-lock.yaml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# Environment-specific files
.env
.env.*   # If using environment-specific files, like .env.development

# IDE-specific files
.vscode/
.idea/
*.iml

# Test coverage reports
coverage/
.nyc_output/

# Documentation build artifacts
docs/_build/

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# Miscellaneous
*.sublime-workspace  # Sublime Text specific
*.sublime-project
