# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Setup artifacts
*.egg
.eggs/

# Build system files
.Python
.tox/
.nox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/

# IDE/editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous
*.log
*.bak
*.swp
*.swo
